[Desktop Entry]
Encoding=UTF-8
Name=Iceweaselx
Name[bg]=Iceweaselx
Name[ca]=Iceweaselx
Name[cs]=Iceweaselx
Name[el]=Iceweaselx
Name[es]=Iceweaselx
Name[fa]=Iceweaselx
Name[fi]=Iceweaselx
Name[fr]=Iceweaselx
Name[hu]=Iceweaselx
Name[it]=Iceweaselx
Name[ja]=Iceweaselx
Name[ko]=Iceweaselx
Name[nb]=Iceweaselx
Name[nl]=Iceweaselx
Name[nn]=Iceweaselx
Name[no]=Iceweaselx
Name[pl]=Iceweaselx
Name[pt]=Iceweaselx
Name[pt_BR]=Iceweaselx
Name[ru]=Iceweaselx
Name[sk]=Iceweaselx
Name[sv]=Iceweaselx
Comment=Browse the World Wide Web (separate profile)
Comment[bg]=Сърфиране в Мрежата
Comment[ca]=Navegueu per el web
Comment[cs]=Prohlížení stránek World Wide Webu
Comment[de]=Im Internet surfen (separates Profil)
Comment[el]=Περιηγηθείτε στον παγκόσμιο ιστό
Comment[es]=Navegue por la web
Comment[fa]=صفحات شبکه جهانی اینترنت را مرور نمایید
Comment[fi]=Selaa Internetin WWW-sivuja
Comment[fr]=Navigue sur Internet
Comment[hu]=A világháló böngészése
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ko]=웹을 돌아 다닙니다
Comment[nb]=Surf på nettet
Comment[nl]=Verken het internet
Comment[nn]=Surf på nettet
Comment[no]=Surf på nettet
Comment[pl]=Przeglądanie stron WWW 
Comment[pt]=Navegue na Internet
Comment[pt_BR]=Navegue na Internet
Comment[ru]=Обозреватель Всемирной Паутины
Comment[sk]=Prehliadanie internetu
Comment[sv]=Surfa på webben
GenericName=Web Browser
GenericName[bg]=Интернет браузър
GenericName[ca]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[es]=Navegador web
GenericName[fa]=مرورگر اینترنتی
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[hu]=Webböngésző
GenericName[it]=Browser Web
GenericName[ja]=ウェブ・ブラウザ
GenericName[ko]=웹 브라우저
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ru]=Интернет-браузер
GenericName[sk]=Internetový prehliadač
GenericName[sv]=Webbläsare
X-GNOME-FullName=Iceweaselx Web Browser
X-GNOME-FullName[bg]=Интернет браузър (Iceweaselx)
X-GNOME-FullName[ca]=Navegador web Iceweaselx
X-GNOME-FullName[cs]=Iceweaselx Webový prohlížeč
X-GNOME-FullName[el]=Περιηγήτης Ιστού Iceweaselx
X-GNOME-FullName[es]=Navegador web Iceweaselx
X-GNOME-FullName[fa]=مرورگر اینترنتی Iceweaselx
X-GNOME-FullName[fi]=Iceweaselx-selain
X-GNOME-FullName[fr]=Navigateur Web Iceweaselx
X-GNOME-FullName[hu]=Iceweaselx webböngésző
X-GNOME-FullName[it]=Iceweaselx Browser Web
X-GNOME-FullName[ja]=Iceweaselx ウェブ・ブラウザ
X-GNOME-FullName[ko]=Iceweaselx 웹 브라우저
X-GNOME-FullName[nb]=Iceweaselx Nettleser
X-GNOME-FullName[nl]=Iceweaselx webbrowser
X-GNOME-FullName[nn]=Iceweaselx Nettlesar
X-GNOME-FullName[no]=Iceweaselx Nettleser
X-GNOME-FullName[pl]=Przeglądarka WWW Iceweaselx
X-GNOME-FullName[pt]=Iceweaselx Navegador Web
X-GNOME-FullName[pt_BR]=Navegador Web Iceweaselx
X-GNOME-FullName[ru]=Интернет-браузер Iceweaselx
X-GNOME-FullName[sk]=Internetový prehliadač Iceweaselx
X-GNOME-FullName[sv]=Webbläsaren Iceweaselx
Exec=iceweasel -no-remote -P %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=iceweasel
Categories=Network;WebBrowser;
StartupNotify=true
