[Desktop Entry]
Type=Application
Name=Wine Internet Explorer
MimeType=image/gif;
Exec=env WINEPREFIX="/home/t/.wine" wine start /ProgIDOpen giffile %f
NoDisplay=true
StartupNotify=true
Icon=FB4C_iexplore.0
